html{
    height:100%;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
   background-color: whitesmoke;}
.container{
    box-shadow: 0 1px 10px rgb(68, 64, 64);
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.014);
}
.screen{
    margin:5px;
    background-color: silver;
    color:blue;
    font-size: 64px;
    border-radius: 15px;
    padding: 15px;
    cursor: default;
    user-select: none;
}
.screen span{
    display: inline-block;
    width:85px;
    text-align: center;
}
.butttons{
    display: flex;
    margin: 15px -5px 0;
}
.buttons button{
    flex:1;
    margin: 15PX 10px;
    border:none;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 4px black;
    font-weight: bold;
    color: blue;
    background-color: rgba(248, 248, 255, 0.192);
    outline: none;
    cursor: pointer;

}
.buttons button:hover{
    color: yellow;
    background-color: blue;
}











